html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
These rules to fix Tailwind issue in a specific situation
*/
.myFlexWrapper{
  display: flex;
  flex-direction: column;
}
.myFlexWrapper .presenta{
  flex:2;
}
.myFlexWrapper .ctrl{
  flex:1;
}
@media (min-width: 768px){
  .myFlexWrapper{
    flex-direction: row;
  }
}